#element {
  text-align: center;
  border: 1px solid black;
  height: 30px;
  margin: 10px 100px;
  padding: 30% 10%;
}

#eventText {
  overflow: scroll;
  text-align: center;
  border: 1px solid black;
  height: 10px;
  margin: 10px 100px;
  padding: 20% 10%;
}
